PORT=5000
DATABASE_URL="file:./dev.db"
JWT_SECRET="super_secret_tuition_jwt_key_2026_production"
STORAGE_DRIVER=local
UPLOAD_PATH=uploads

# AWS S3 & RDS Settings (Optional when deploying to AWS)
AWS_REGION=us-east-1
AWS_BUCKET=tuition-system-uploads
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
